<div class="container">
	
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book Tracker">      
	    </div>
		<div class="col-sm-5 title">
			<h1><b>Mini Library Book Tracker</b></h1>
	        <p><i>by Team Book Slingers</i></p>
	        <br>
	        <p class="right"><a href="/admin">Admin</a>  |  <a href="/usercrud">Checkout List</a>  |  <a href="/crud">Add Books<a/>  |  <a href="/checkout">Checkout Book</a></p>
	    </div>
  	</div>
	<hr>
	<div class="row">	

	<div class="col-sm-2">
	    </div>
  	</div>
	
	<div class="">
	    <div class="col-sm-8">

			<div class="container scroll">
				<table class="table table-hover table-nonfluid">
				    <thead>
					     <tr>
					        <th>Title</th>
					        <th>Author</th>
					        <th>Edition</th>
					        <th>ISBN</th>
					        <th>Publisher</th>
					        <th>Available</th>
							<th>Edit</th>
					     </tr>
					</thead>					    
					<tbody class="">
						{{#each books}}
		{{!-- 			 		{{#if this.available}} --}}
		 	
			 		<tr tabindex="1" >
				        <td>{{this.title}}</td>
				        <td>{{this.author}}</td>
				        <td>{{this.edition}}</td>
				        <td>{{this.ISBN}}</td>
				        <td>{{this.publisher}}</td>
				        <td>{{this.available}}</td>
				        <td>
				        	<form action="/{{this.id}}?_method=DELETE" method="POST" class="button-size">
					        	<input type="hidden" name="status" value="false">
					 			<input type="hidden" name="id" value="{{this.id}}">
								<button class="btn-sm btn-danger" type="submit">X</button>
							</form>
							<form action="/{{this.id}}?_method=PUT" method="POST" class="button-size">
					        	<input type="hidden" name="status" value="false">
					 			<input type="hidden" name="id" value="{{this.id}}">
								<button class="btn-sm btn-warning" type="submit">E</button>
							</form>
													
											
							
				        </td>

				       
				      </tr>
							{{!-- {{/if}} --}}
						{{/each}}
					</tbody>
			 	</table>
			</div>

		</div>

	</div>
	
	<div class="col-sm-2">
    </div>

</div> 

<div class="container">
	<div class="row">

	</div>
</div>	

<BR><BR>
{{!-- <form action="/?_method=PUT" method="POST" class="button-size">
	 							<button class="btn-sm btn-danger" type="Edit">E</button>
 							</form>
 --}}
