<div class="container">
	
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book App">      
	    </div>
		<div class="col-sm-5">
			<h1>Mini Library Book App</h1>
	        <p>by Team Book Slingers</p>
	        <p class="right"><a href="/admin">Admin</a>  |  <a href="/usercrud">Edit Users</a>  |  <a href="/crud">Edit Books</>  |  <a href="/checkout">Checkout Book</a></p>
	    </div>
  	</div>
	<hr>
	<div class="row">	

	    <div class="col-sm-2">
	    </div>
  	</div>
	
	<div class="">
	    <div class="col-sm-8">

			<div class="container scroll">
				<table class="table table-hover table-nonfluid">
				    <thead>
					     <tr>
					        <th>Title</th>
					        <th>Author</th>
					        <th>Edition</th>
					        <th>ISBN</th>
					        <th>Publisher</th>
					        <th>Available</th>
{{!-- 					        <th>Request</th> --}}
					     </tr>
					</thead>					    
					<tbody class="">
						{{#each books}}
					 		{{#if this.status}}
		 	
			 		<tr tabindex="1">
				        <td>{{this.title}}</td>
				        <td>{{this.author}}</td>
				        <td>{{this.edition}}</td>
				        <td>{{this.ISBN}}</td>
				        <td>{{this.publisher}}</td>
				        <td>{{this.status}}</td>
				       
				      </tr>
							{{/if}}
						{{/each}}
					</tbody>
			 	</table>
			</div>

		</div>

	</div>
	
	<div class="col-sm-2">
    </div>

</div> 

<div class="container">
	<div class="row">


	<hr>
	</div>
</div>	

