<div class="container">
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book App">      
	    </div>
		<div class="col-sm-5">
			<h1>Mini Library Book App</h1>
	        <p>by Team Book Slingers</p>
	    </div>
  	</div>
	<hr>
	<div class="row">	
	
	<div class="col-sm-8">
		 <div class="booksTable">
      <h2>Books Available</h2>
      <hr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Edition</th>
            <th>ISBN</th>
            <th>Publisher</th>
            <th>Available</th>
          </tr>
        </thead>
          <tbody>
            {{#each books}}
            {{#if this.status}}
            <tr tabindex="1">
              <td>{{this.title}}</td>
              <td>{{this.author}}</td>
              <td>{{this.edition}}</td>
              <td>{{this.ISBN}}</td>
              <td>{{this.publisher}}</td>
              <td>{{this.status}}</td>
            </tr> 
            {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
	</div>
	
	
	<div class="col-sm-4"> 
		<div class="emailBooks">	 
			<div class="container">
				<h2>Request Book</h2>
				<hr>
				<div class="row">
					
				</div>
			</div>
		</div>
	</div>	
</div>	


	 


