{{!-- Client: side page, All content stored in container --}}
<div class="container">
  {{!-- Row for columns --}}
  <div class="row">
    {{!-- Stores logo, Columns 7/12  --}}
    <div class="col-sm-7">
      <br>
      {{!-- Northwestern Logo --}}
      <img src="./images/logo.jpg" alt="Mini Library Book App">
    </div>
    {{!-- Title --}}
    <div class="col-sm-5">
      <div class="title">
        <h1><b>Mini Library Book Tracker</b></h1>
        <p><i>by Team Book Slingers</i></p>
      </div>
    </div>
  </div>
  
  <hr>
  
  {{!-- Row for books avaible and email input content --}}
  <div class="row">
    {{!-- container for columns --}}
    <div class="container">
      {{!-- 8/12 columns --}}
      <div class="container col-sm-8">
        {{!-- Table DIV outputting books from mysql database --}}
        <div class="booksTable">
          <h2>Books Available</h2>
          
          <hr>
          
          {{!-- Table  --}}
          <table class="table table-hover">
            {{!-- Table head --}}
            <thead>
              <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Edition</th>
                <th>ISBN</th>
                <th>Publisher</th>
                <th>Available</th>
              </tr>
            </thead>
            {{!-- Loops data into table rows --}}
            <tbody>
              {{#each books}}
              <tr tabindex="1">
                <td>{{this.title}}</td>
                <td>{{this.author}}</td>
                <td>{{this.edition}}</td>
                <td>{{this.ISBN}}</td>
                <td>{{this.publisher}}</td>
                <td>{{this.available}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      
      {{!-- 4/12 columns span --}}
      <div class="container col-sm-4">
        {{!-- email books div --}}
        <div class="emailBooks">
          <h2>Book Request</h2>
          <hr>
          
          <p>If you would like to request a book, please fill out this form. Your request will be processed by Jeannine Hall, Northwestern University's premier book checker.
          </p>
          <br>
          {{!-- Emails to Jeannine --}}
          <form action="mailto:matsci@northwestern.edu?subject=Book(s) Request" method="post" enctype="text/plain">
            {{!-- name input box --}}
            Name:  <input type="text" name="Name:" size="25" placeholder="full name"><br><br>
            {{!-- email input box --}}
            <div class="row requiredRow">
              <label for="email" id="email-ariaLabel">Email:   </label>
              <input id="email" name="email" type="email" class="required" size="20" title="This is a required field" placeholder="email"/>
            </div>
            <br>
            {{!-- request box --}}
            <b>Request:</b>  <input type="text" name="Book Request" size="40" placeholder="book request/comment"><br><br>
            {{!-- submit button --}}
            <div class="input-append">
              <button class="btn btn-success">Submit</button>
            </div>
            <br>
            {{!-- reset button --}}
            <button class="btn btn-danger" type="reset" value="Reset">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

