<div class="container">
	
	
	<div class="row">
	    <div class="col-sm-7">
			<br>
			<img src="./images/logo.jpg" alt="Mini Library Book Tracker">      
	    </div>
		<div class="col-sm-5 title">
			<h1><b>Mini Library Book Tracker</b></h1>
	        <p><i>by Team Book Slingers</i></p>
	        <br>
	        <p class="right"><a href="/admin">Admin</a>  |  <a href="/usercrud">Checkout List</a>  |  <a href="/crud">Add Books<a/>  |  <a href="/checkout">Checkout Book</a></p>
	    </div>
  	</div>
	<hr>
	<div class="row">	

	    <div class="col-sm-2">
	    </div>
  	</div>
	
	<div class=""><h2>Checkout List</h2>
				<br>
	    <div class="col-sm-8">

			<div class="container scroll">
				<table class="table table-hover table-nonfluid">
				    <thead>
					     <tr>
					        <th>User ID</th>
					        <th>Book ID</th>
					        <th>Status</th>
					        <th>Checkout</th>
					        <th>Due Date</th>
					        <th>Return Date </th>
					     </tr>
					</thead>					    
					<tbody class="">
						{{#each checkout}}
					 		
		 	
			 		<tr tabindex="1">
				        <td>{{this.user_id}}</td>
				        <td>{{this.book_id}}</td>
				        <td>{{this.status}}</td>
				        <td>{{this.checkout_date}}</td>
				        <td>{{this.due_date}}</td>
				        <td>{{this.return_date}}</td>
				       
				      </tr>
						{{/each}}
					</tbody>
			 	</table>
			</div>

		</div>

	</div>
	
	<div class="col-sm-2">
    </div>

</div> 

<BR>